<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915639373994-jaqsi7irsdvf964th6vmv73hvqfdckar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915639373994-jaqsi7irsdvf964th6vmv73hvqfdckar</string>
	<key>API_KEY</key>
	<string>AIzaSyCB0ZgXE2mxag3gTcp4L4GKhqG6NwxfI1s</string>
	<key>GCM_SENDER_ID</key>
	<string>915639373994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acresia.ziranimnepomuzes3</string>
	<key>PROJECT_ID</key>
	<string>ziranim-nepomuzes</string>
	<key>STORAGE_BUCKET</key>
	<string>ziranim-nepomuzes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915639373994:ios:406316553af280e45000d3</string>
	<key>DATABASE_URL</key>
	<string>https://ziranim-nepomuzes.firebaseio.com</string>
</dict>
</plist>